# Xcode
.DS_Store
xcuserdata/
*.xcworkspace
DerivedData/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/

# Swift Package Manager
.build/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Archives
*.xcarchive

# Logs
*.log
*.out

# Build artifacts
build/
*.ipa
*.dSYM.zip
*.dSYM

# Other
.idea/
*.moved-aside
*.swp
*.lock
*.tmp
*.bak
*.xcuserstate